* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 600;
}

pre {
  background: #020617;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  color: #e5e7eb;
}

button:hover {
  background: #1e293b;
  cursor: pointer;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

select,
button,
input {
  background-color: var(--bg-secondary);
  color: var(--text-primary);
  border: 1px solid #334155;
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
}

