:root {
  --bg-primary: #020617;
  --text-primary: #ffffff;
  --text-secondary: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: inherit;
}
input,
textarea {
  font-family: inherit;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-primary);
}

